body {
    margin: 0;
}

.mainmenu a {
    color:inherit;
}

.mainmenu {
    color: black;
    background-color:lightcoral;
    margin:0;
}
            
.mainmenu li {
    display:inline-block;
    padding: 10px;
    margin:0px;
    border-right:solid;
    border-color:white;
    border-width:1px;
    }

li {
    font-size:20px;
}

img {
    height:100px;
}

li img {
    height:20px;
}

ul {
    color: darkgrey;
    //mainmenu dalej jest czarne
}

.p2 {
    font-family:monospace;
}

p {
    font-family:sans-serif;
    font-size:16px;
}

.lol {
    color:red;
    font-weight: 1000;
}

#last {
    color:white;
}