p {
    color:red;
}

article:nth-of-type(2) header + p {
    background: aqua;
}

p.ads-desc {
    background: gray;
}

header > p {
    font-size: 10px;
}

article#last p {
    display:none;
}

header nav ul li{
    display: inline;
}